{lib_dirs, ["apps", "deps"]}.

{sub_dirs, [
    "apps/bmws"
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, "2.1.0", {git, "https://github.com/basho/lager.git", {tag, "2.1.0"}}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git"}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git"}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git"}}
]}.
