body {
  margin-left: 20px;
  margin-right: 20px;
}

.form-group.server {
  width: 50%;
}

.form-group.recepient-list {
  width: 20%;
}
.form-group.recepient-list select,
.form-group.new-recepient input {
  width: 100%;
}

#server {
  width: 100%;
}
